NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBcH035Lk4FFFWbtQBrM7F5AV6nF-izyDQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cheri-78f8b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cheri-78f8b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cheri-78f8b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=425057809310
NEXT_PUBLIC_FIREBASE_APP_ID=1:425057809310:web:56864029846828592c9c8f